@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj!</h1>
    <p>Zobacz moją stronę albo dowiedz się więcej o budowaniu <a href="https://docs.microsoft.com/aspnet/core">aplikacji ASP.NET Core</a>.</p>
    <img src="https://malecmarketing.pl/wp-content/uploads/2022/03/Damian-1.png">
</div>