@{
    ViewData["Title"] = "Crypto";
}

<div class="text-center">
    <h1 class="display-4">Radio RMF FM xD</h1>
    <p>Włącz sobie muzyczkę :)</p>
</div><br>
</div>

<div class="radio">

<audio controls class="radio">
  <source src="http://195.150.20.3/rmf_fm" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>


</div>